.mainNav a {
    font-weight: bold;
    color: #2c3e50;
}

.mainNavItemContainer {
    height: 100%;
    font-weight: bold;
    display: flex;
    width: auto;
    gap: 9px;
}

.mainNavItemText {
    font-weight: bold;
}

.mainNavItemText:hover, .mainNavItem:hover {
    text-decoration: underline;
}


@media (max-width: 450px) {
    .mainNavItemText {
        display: none;

    }

    .mainNavItemIcon {
        display: none;
    }

    /* .mainNavItemContainer {
        height: 30px;
    } */
}