.mainNav a {
    font-weight: bold;
    color: #2c3e50;
}

.mainNavItemContainer {
    height: 100%;
    font-weight: bold;
}

.mainNavItemText {
    font-weight: bold;
}


@media (max-width: 445px) {
    .mainNavItemText {
        display: none;

    }

    .mainNavItemIcon {
        display: none;
    }

    /* .mainNavItemContainer {
        height: 30px;
    } */
}