.mainNav a {
    font-weight: bold;
    color: #2c3e50;
}

.mainNavItemContainer {
    height: 100%;
    font-weight: bold;
    display: flex;
    width: auto;
    gap: 15px;
    transition: gap 0.3s ease-in-out;
}

.signInIcon,
.userIcon,
.signOutIcon {
    margin-right: 5px;
}

.userIconContainer {
    margin-right: 0;
}

.mainNavItemText,
.signInText,
.signOutText,
.userName {
    font-weight: bold;
}

.mainNavItemText:hover,
.signInText:hover,
.signOutText:hover,
.userName:hover {
    text-decoration: underline;
}

.mainNavItemText:hover,
.mainNavItem:hover {
    text-decoration: underline;
}

@media (max-width: 450px) {
    .signOutText {
        display: none;
    }
}

@media (max-width: 350px) {

    .userIcon,
    .signInText {
        display: none;
    }

    .mainNavItemContainer {
        gap: 10px;
    }
}