.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  transition: padding 0.2s ease;
}

@media (max-width: 410px) {
  .mainNav {
    padding: 5px 5px;
  }

  .mainNav i {
    margin-left: 5px;
  }

}